* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #0f0f0f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container {
  width: 70%;
  max-width:900px;
  height: 85vh;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.chat-header {
  background-color: #202123;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #333;
}

.chat-header h2 {
  color: #ffffff;
}

.chat-header p {
  color: #aaa;
  font-size: 12px;
}

.chat-box {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}


.message {
  max-width: 70%;
  padding: 12px 16px;
  margin-bottom: 12px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.4;
  word-wrap: break-word;
}


.message.user {
  background-color: #2f80ed;
  color: #ffffff;
  align-self: flex-end;
  border-bottom-right-radius: 4px;
}


.message.bot {
  background-color: #343541;
  color: #e5e5e5;
  align-self: flex-start;
  border-bottom-left-radius: 4px;
}


.input-area {
  display: flex;
  padding: 12px;
  border-top: 1px solid #333;
  background-color: #202123;
}

.input-area input {
  flex: 1;
  padding: 10px;
  background-color: #2b2b2b;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 6px;
}

.input-area button {
  margin-left: 10px;
  padding: 10px 16px;
  background-color: #2f80ed;
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.input-area button:hover {
  background-color: #1c66d6;
}
